/*///RECENT ACTIVITY///*/
#activities {
	display: flex;
	flex-direction: column;
}

#activity-cat > div {
	font-weight: bold;
}

.entry {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: center;
	align-items: stretch;
	border-style: none none solid none;
	border-color: #eae9e1;
}

.entry > div {
	border-style: none none none solid;
	border-color: #eae9e1;
	width: 20%;
	padding: 3px;
}

.entry > .first {
	border-style: none;
}

/*///END RECENT ACTIVITY///*/

/*///SUMS///*/
#dropbtn {
  border: none;
  cursor: pointer;
  background: #f55;
  font-size: 1.5em;
}
.dropdown {
  display: flex;
  flex-direction: column;

}

.dropdown-content {
  display: none;
  position: absolute;
  flex-direction: column;
  background-color: #f1f1f1;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.active {
	display: flex;
	position: static;
}
#totals {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.total-title {
	font-size: 1.5em;
}

/*///END SUMS///*/

/*///NEW SALE/PURCHASE///*/

.new-body {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.new-body > form {
	height: 100%;
	padding: 5%;
}