<div class="total">
    <div class="total-title">Sales</div>
    <div>${{ totals.sales }}</div>
    <div class="total-title">Purchases</div>
    <div>${{ totals.purchs }}</div>
    <div class="total-title">Net Profits</div>
    <div>${{ totals.profits }}</div>
</div>