/*///COMMON///*/

.half {
	display: flex;
	flex-direction: column;
}

.left {
	min-width: 600px;
	width: 45vw;
	padding-left: 3vw;
}

.right {
	min-width: 300px;
	width: 30vw;
	padding-right: 3vw;
}

.dropdown {
	cursor: pointer;
}

.small-txt {
	color: gray;
}

.small-txt > small > a {
	color: gray;
}

.small-txt > small > a:hover {
	color: #474a4f;
}

.alert {
	border-style: solid;
	padding: 20px;
	border-radius: 5%;
}

.alert-success {
	background: #e7eae0;
	border-color: #657a35;
}

.alert-failure {
	background: #ffa5a5;
	border-color: red;
}

form > fieldset {
	border-style: none;
}

fieldset > div {
	padding: 1%;
}


.dollar-field > .dollar-input {
	width: 20%;
}

.dollar-field > .cents-input {
	width: 15%;
}

.invalid {
	color: red;
	font-size: .8em;
}


/*///END COMMON///*/
/*///RECENT ACTIVITY///*/

#activites-iframe {
	height: 40vh;
    border: none;
}

/*///END RECENT ACTIVITY///*/

/*///SUMS///*/
#dropbtn {
  border: none;
  cursor: pointer;
  background: #f55;
  font-size: 1.75em;
}
.dropdown {
  display: flex;
  flex-direction: column;

}

.dropdown-content {
  display: none;
  position: absolute;
  flex-direction: column;
  background-color: #f1f1f1;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content > div {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content > div:hover {background-color: #ddd;}

.active {
	display: flex;
	position: static;
}
#totals {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.total-title {
	font-size: 1.5em;
}

.total {
	display: flex;
	flex-direction: column;
	align-items: center;
}
/*///END SUMS///*/

/*///NEW SALE/PURCHASE///*/

#new-sale, #new-item, #new-purchase {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.sale-item, .purch-item, .item-item, .submit {
	padding-top: 1vh;
	display: flex;
	flex-direction: row;
}

.label {
	width: 50%;
	display: flex;
	justify-content: flex-end;
}

.submit {
	width: 50%;
	justify-content: flex-end;
	padding-bottom: 1vh;
}

