/*///COMMON///*/

body {
	background-clip: border-box;
	font-family: 'Roboto Slab', serif;
	background: #eae9e1;
	position: relative;
	top: 10vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#body {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-start;
}

.half {
	display: flex;
	flex-direction: column;
}

.left {
	width: 45vw;
	padding-left: 3vw;
}

.right {
	width: 30vw;
	padding-right: 3vw;
}

.section {
	background: white;
	display: flex;
	flex-direction: column;
	margin: 2%;
}

.section-title {
	background: #f55;
	display: flex;
	justify-content: center;

	font-size: 1.75em;
}

.dropdown {
	cursor: pointer;
}

.small-txt {
	color: gray;
}

.small-txt > small > a {
	color: gray;
}

.small-txt > small > a:hover {
	color: #474a4f;
}

.alert {
	border-style: solid;
	padding: 20px;
	border-radius: 5%;
}

.alert-success {
	background: #e7eae0;
	border-color: #657a35;
}

.alert-failure {
	background: #ffa5a5;
	border-color: red;
}

form > fieldset {
	border-style: none;
}

fieldset > div {
	padding: 1%;
}


.dollar-field > .dollar-input {
	width: 20%;
}

.dollar-field > .cents-input {
	width: 15%;
}

.invalid {
	color: red;
	font-size: .8em;
}

/*///END COMMON///*/

/*///NAV  BAR///*/
#nav-bar {
	width: 100vw;
	height: 7vh;
	background-color: #0e2f63;
	position: fixed;
	top: 0;

	display: flex;
	justify-content: space-between;
	align-content: center;
	align-items: center;
}

.nav-logo > img {
	max-height: 6vh;
	padding: 1vw;
}

.nav-items {
	display: flex;
	flex-direction: row;
	align-content: center;
	align-items: center;
}

.nav-item > a {
	border-left-style: solid;
	border-left-color: white;
	display: flex;
	align-content: center;
	align-items: center;
	padding:0 1vw 0 1vw;
	font-size: 1.3em;
	color: white;
	text-decoration: none;
}

.nav-item > a:hover {
	color: gray;
}

.first > a {
	border-style: none;
}

/*///END NAV BAR///*/