<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>trackIt</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link href='https://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet'>
        <link rel="stylesheet" type="text/css" href="../static/css/index.css">
        <link rel="stylesheet" type="text/css" href="../static/css/sales.css">
        <script type="text/javascript" src="../static/js/index.js"></script>
	<link rel="shortcut icon" type="image/png" href="../static/img/favicon.png"/>
    </head>
    <body>
        <div id="activity-cat" class="entry">
            <div class="first">Category</div>
            <div>Item</div>
            <div>Units</div>
            <div>Amount ($)</div>
            <div>Date (mm/dd/yy)</div>
        </div>
        {% for entry in entries %}
            <div class="entry">
            <div class="first">{{ Item.query.filter_by(id=entry.item_id).first() }}
        {% endfor %}
    </body>
