/*///RECENT ACTIVITY///*/
#activities {
	display: flex;
	flex-direction: column;
}

#activity-cat > div {
	font-weight: bold;
}

.entry {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: center;
	align-items: stretch;
	border-style: none none solid none;
	border-color: #eae9e1;
}

.entry > div {
	border-style: none none none solid;
	border-color: #eae9e1;
	width: 20%;
	padding: 3px;
}

.entry > .first {
	border-style: none;
}

/*///END RECENT ACTIVITY///*/

/*///SUMS///*/

#totals {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.total-title {
	font-size: 1.5em;
}

/*///END SUMS///*/

/*///NEW SALE/PURCHASE///*/

.new-body {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.new-body > form {
	height: 100%;
	padding: 5%;
}

form > fieldset {
	border-style: none;
}
