<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>trackIt</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link href='https://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet'>
        <link rel="stylesheet" type="text/css" href="css/index.css">
        <link rel="stylesheet" type="text/css" href="css/login.css">
        <script type="text/javascript" src="js/index.js"></script>
	<link rel="shortcut icon" type="image/png" href="img/favicon.png"/>
    </head>
    <body>
        <div id="nav-bar">
            <div class="nav-logo"><img src="img/favicon.png"/></div>
        </div>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages: %}
                {% for category, message in messages %}
                    <div class="alert alert-{{category}}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <div class="section" id="login">
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <fieldset class="login-group">
                    <legend>Login</legend>
                    <div class="login-item">
                        {{ form.username.label(class="form-label") }}
                        {{ form.username(class="form-input") }}
                        {% if form.username.errors %}
                            <div class='invalid'>
                                {% for error in form.username.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="login-item">
                        {{ form.password.label(class="form-label") }}
                        {{ form.password(class="form-input") }}
                        {% if form.password.errors %}
                            <div class='invalid'>
                                {% for error in form.password.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="login-item remember">
                        {{ form.remember.label(class="form-label") }}
                        {{ form.remember(class="form-input") }}
                    </div>
                </fieldset>
                <div>
                    {{ form.submit(class="btn") }}
                </div>
            </form>
            <div class="small-txt"><small>Don't have an account? <a href="{{ url_for('register') }}">Create one</a></small></div>
        </div>
